# https://maven.google.com
[versions]
# https://developer.android.com/build/releases/gradle-plugin
# https://developer.android.com/studio/releases
# https://androidstudio.googleblog.com/
# https://maven.google.com/web/index.html?q=com.android.tools.build
androidGradlePlugin = "9.0.0"
androidGradlePlugin-beta = "9.0.0"
androidGradlePlugin-canary = "9.1.0-alpha07"

# https://developer.android.com/studio/write/java8-support#library-desugaring
# https://maven.google.com/web/index.html?q=desugar_jdk_libs
# https://github.com/google/desugar_jdk_libs/blob/master/CHANGELOG.md
desugarJdkLibs = "2.1.5"

# region [AndroidX]
# https://developer.android.com/jetpack/androidx/releases/activity
activity = "1.12.3"

# https://developer.android.com/jetpack/androidx/releases/annotation
annotation = "1.9.1"

annotation-experimental = "1.5.1"

# https://developer.android.com/jetpack/androidx/releases/appcompat
appcompat = "1.7.1"

# https://developer.android.com/jetpack/androidx/releases/arch-core
arch-core = "2.2.0"

# https://developer.android.com/jetpack/androidx/releases/cardview
cardView = "1.0.0"

# https://developer.android.com/jetpack/androidx/releases/constraintlayout
constraintLayout = "2.2.1"

# https://developer.android.com/jetpack/androidx/releases/coordinatorlayout
coordinatorLayout = "1.3.0"

# https://developer.android.com/jetpack/androidx/releases/core
core = "1.17.0"
core-backported-fixes = "1.0.0"

# https://developer.android.com/jetpack/androidx/releases/fragment
fragment = "1.8.9"

# https://developer.android.com/jetpack/androidx/releases/lifecycle
lifecycle = "2.10.0"

# https://developer.android.com/jetpack/androidx/releases/preference
preference = "1.2.1"

# https://developer.android.com/jetpack/androidx/releases/recyclerview
recyclerView = "1.4.0"

# https://developer.android.com/jetpack/androidx/releases/savedstate
savedState = "1.4.0"

# https://developer.android.com/jetpack/androidx/releases/swiperefreshlayout
swipeRefreshLayout = "1.2.0"

# https://developer.android.com/jetpack/androidx/releases/webkit
webkit = "1.15.0"

# https://developer.android.com/training/testing/local-tests#dependencies
# region [Test]
# https://github.com/junit-team/junit4/releases
junit = "4.13.2"
# endregion [Test]

# https://developer.android.com/jetpack/androidx/releases/test
# https://developer.android.com/training/testing/instrumented-tests/androidx-test-libraries/test-setup#add-gradle
# region [Android Test]
test-core = "1.7.0"
test-ext-junit = "1.3.0"
# endregion [Android Test]
# endregion [AndroidX]

[libraries]
desugarJdkLibs = { group = "com.android.tools", name = "desugar_jdk_libs", version.ref = "desugarJdkLibs" }

activity-ktx = { group = "androidx.activity", name = "activity-ktx", version.ref = "activity" }

annotation = { group = "androidx.annotation", name = "annotation", version.ref = "annotation" }
annotation-experimental = { group = "androidx.annotation", name = "annotation-experimental", version.ref = "annotation-experimental" }

appcompat = { group = "androidx.appcompat", name = "appcompat", version.ref = "appcompat" }
appcompat-resources = { group = "androidx.appcompat", name = "appcompat-resources", version.ref = "appcompat" }

arch-core-common = { group = "androidx.arch.core", name = "core-common", version.ref = "arch-core" }
arch-core-runtime = { group = "androidx.arch.core", name = "core-runtime", version.ref = "arch-core" }

cardView = { group = "androidx.cardview", name = "cardview", version.ref = "cardView" }

constraintLayout = { group = "androidx.constraintlayout", name = "constraintlayout", version.ref = "constraintLayout" }

coordinatorLayout = { group = "androidx.coordinatorlayout", name = "coordinatorlayout", version.ref = "coordinatorLayout" }

core-ktx = { group = "androidx.core", name = "core-ktx", version.ref = "core" }
core-backported-fixes = { group = "androidx.core", name = "core-backported-fixes", version.ref = "core-backported-fixes" }

fragment-ktx = { group = "androidx.fragment", name = "fragment-ktx", version.ref = "fragment" }

lifecycle-runtime-ktx = { group = "androidx.lifecycle", name = "lifecycle-runtime-ktx", version.ref = "lifecycle" }
lifecycle-viewmodel-ktx = { group = "androidx.lifecycle", name = "lifecycle-viewmodel-ktx", version.ref = "lifecycle" }
lifecycle-viewmodel-savedstate = { group = "androidx.lifecycle", name = "lifecycle-viewmodel-savedstate", version.ref = "lifecycle" }

preference-ktx = { group = "androidx.preference", name = "preference-ktx", version.ref = "preference" }

recyclerView = { group = "androidx.recyclerview", name = "recyclerview", version.ref = "recyclerView" }

savedState-ktx = { group = "androidx.savedstate", name = "savedstate-ktx", version.ref = "savedState" }

swipeRefreshLayout = { group = "androidx.swiperefreshlayout", name = "swiperefreshlayout", version.ref = "swipeRefreshLayout" }

webkit = { group = "androidx.webkit", name = "webkit", version.ref = "webkit" }

junit = { group = "junit", name = "junit", version.ref = "junit" }
test-core-ktx = { group = "androidx.test", name = "core-ktx", version.ref = "test-core" }
test-ext-junit-ktx = { group = "androidx.test.ext", name = "junit-ktx", version.ref = "test-ext-junit" }

# region [For build-logic]
android-gradleApiPlugin = { group = "com.android.tools.build", name = "gradle-api", version.ref = "androidGradlePlugin" }
# endregion [For build-logic]

[bundles]
annotation = ["annotation", "annotation-experimental"]
appcompat = ["appcompat", "appcompat-resources"]
arch-core = ["arch-core-common", "arch-core-runtime"]
core = ["core-ktx", "core-backported-fixes"]
lifecycle = ["lifecycle-runtime-ktx", "lifecycle-viewmodel-ktx", "lifecycle-viewmodel-savedstate"]

test = ["junit"]
androidTest = ["test-core-ktx", "test-ext-junit-ktx"]

[plugins]
android-application = { id = "com.android.application", version.ref = "androidGradlePlugin" }
android-library = { id = "com.android.library", version.ref = "androidGradlePlugin" }

# region [For build-logic]
lowleveldetector-android-application = { id = "lowleveldetector.android.application" }
lowleveldetector-android-application-flavors = { id = "lowleveldetector.android.application.flavors" }
lowleveldetector-android-library = { id = "lowleveldetector.android.library" }
lowleveldetector-android-application-ndk-version = { id = "lowleveldetector.android.application.ndk.version" }
lowleveldetector-android-library-ndk-version = { id = "lowleveldetector.android.library.ndk.version" }
# endregion [For build-logic]