[versions]
# https://developers.google.com/android/guides/releases
# https://developers.google.com/android/guides/google-services-plugin
# https://maven.google.com/web/index.html?q=google-services
googleServices-gradlePlugin = "4.4.4"

# https://firebase.google.com/support/release-notes/android
# https://firebase.google.com/docs/android/setup#available-libraries
# https://firebase.google.com/docs/android/learn-more#bom
# https://maven.google.com/web/index.html?q=firebase-bom
firebase-bom = "34.10.0"

# https://firebase.google.com/docs/crashlytics/get-started?platform=android
# https://firebase.google.com/docs/crashlytics/ndk-reports
# https://maven.google.com/web/index.html?q=crashlytics
firebase-crashlytics-gradlePlugin = "3.0.6"

# https://github.com/material-components/material-components-android/releases
material = "1.13.0"

[libraries]
firebase-bom = { group = "com.google.firebase", name = "firebase-bom", version.ref = "firebase-bom" }
firebase-analytics = { group = "com.google.firebase", name = "firebase-analytics" }
firebase-crashlytics-ndk = { group = "com.google.firebase", name = "firebase-crashlytics-ndk" }

material = { group = "com.google.android.material", name = "material", version.ref = "material" }

# region [For build-logic]
firebase-crashlytics-gradlePlugin = { group = "com.google.firebase", name = "firebase-crashlytics-gradle", version.ref = "firebase-crashlytics-gradlePlugin" }
# endregion [For build-logic]

[bundles]
firebase = ["firebase-analytics", "firebase-crashlytics-ndk"]

[plugins]
googleServices = { id = "com.google.gms.google-services", version.ref = "googleServices-gradlePlugin" }
firebase-crashlytics = { id = "com.google.firebase.crashlytics", version.ref = "firebase-crashlytics-gradlePlugin" }

# region [For build-logic]
lowleveldetector-google-firebase = { id = "lowleveldetector.google.firebase" }
# endregion [For build-logic]