[versions]
# https://developers.google.com/android/guides/releases
# https://firebase.google.com/support/release-notes/android
# https://firebase.google.com/docs/android/setup#available-libraries
googleServices-gradlePlugin = "4.4.2"

# https://firebase.google.com/docs/android/learn-more#bom
firebase-bom = "33.4.0"

# https://firebase.google.com/docs/crashlytics/get-started?platform=android
# https://firebase.google.com/docs/crashlytics/ndk-reports
firebase-crashlytics-gradlePlugin = "3.0.2"

# https://github.com/material-components/material-components-android/releases
material = "1.12.0"
material-alpha = "1.13.0-alpha07"

[libraries]
firebase-bom = { group = "com.google.firebase", name = "firebase-bom", version.ref = "firebase-bom" }
firebase-analytics = { group = "com.google.firebase", name = "firebase-analytics" }
firebase-crashlytics-ndk = { group = "com.google.firebase", name = "firebase-crashlytics-ndk" }

material = { group = "com.google.android.material", name = "material", version.ref = "material" }

[bundles]

[plugins]
googleServices = { id = "com.google.gms.google-services", version.ref = "googleServices-gradlePlugin" }
firebase-crashlytics = { id = "com.google.firebase.crashlytics", version.ref = "firebase-crashlytics-gradlePlugin" }